<mat-card>
    <mat-card-header>
      <h3>Kontakt</h3>
    </mat-card-header>
    <mat-card-content>
    <p>Sundhedsmålklubben kan kontaktes på følgende måder:</p>
    <mat-list dense>
      <mat-list-item>
        Email:&nbsp;&nbsp;<a href="mailto:smk@soerenlarsen.dk">smk@soerenlarsen.dk</a>
      </mat-list-item>
      <mat-list-item>
          Facebook:&nbsp;&nbsp;<a href="https://www.facebook.com/5750Sund/">5750Sund</a>
        </mat-list-item>
        <mat-list-item>
            Skype:&nbsp;&nbsp;<a href="skype:slamidtfyn?userinf">slamidtfyn</a>
          </mat-list-item>
    </mat-list>
    </mat-card-content>
  </mat-card>