<mat-card>

    <mat-card-header><h3>Om klubben</h3></mat-card-header>
<mat-card-content>
       

<p>Sundhedsmålklubben henvender sig primært til beboere i 5750 Ringe og omegn, men alle er selvfølgelig velkomne til at deltage</p>
<p>
  Da formålet med klubben er at støtte hinanden i at nå et sundhedsmål, er det også nødvendigt at man som deltager i møderne, inden man møder op, har tænkt over hvilket/hvilke mål man vil opnå 
</p>
      <p>
       På det første møde man deltager i, skal man være forberedt på at svare på følgende: 
      </p>
      <mat-list dense >
        <mat-list-item>
            1. Hvem er jeg
        </mat-list-item>
        <mat-list-item>
            2. Hvorfor er jeg her
          </mat-list-item>
          <mat-list-item>
            3. Hvad vil jeg opnå (mine mål)
          </mat-list-item>
          <mat-list-item>
            4. Hvordan vil jeg opnå disse mål
          </mat-list-item>
        <mat-list-item>
            5. Hvordan går det med at opfylde mål
        </mat-list-item>
      </mat-list>
      <p>
        På de efterfølgende møder skal alle fortælle: 
      </p>
      <mat-list dense>
          <mat-list-item>
              1. Hvad vil jeg opnå (mine mål)
          </mat-list-item>
          <mat-list-item>
              2. Hvordan går det med at opfylde mål
            </mat-list-item>
      </mat-list>
        
</mat-card-content>
</mat-card>
