<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="over">
        <mat-toolbar color="primary">  
            <mat-toolbar-row>
                <a routerLink="" mat-button (click)="drawer.toggle()">
                    <mat-icon>home</mat-icon>
                    <span> Hjem</span>
                </a>
            </mat-toolbar-row>
          
            <mat-toolbar-row>
                <a routerLink="klubben" mat-button (click)="drawer.toggle()">
                    <mat-icon>info</mat-icon>
                    <span> Om</span>
                </a>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a routerLink="ommig" mat-button (click)="drawer.toggle()">
                    <mat-icon>help</mat-icon>
                    <span> Hvem</span>
                </a>
               
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a routerLink="kontakt" mat-button (click)="drawer.toggle()">
                    <mat-icon>mail</mat-icon>
                    <span>Kontakt</span>
                </a>

            </mat-toolbar-row>
            <mat-toolbar-row>
                <a href="https://www.facebook.com/pg/5750Sund/events/" mat-button target="_blank" (click)="drawer.toggle()">
                    <mat-icon>calendar_today</mat-icon>
                    <span> Møder</span>
                </a>
            </mat-toolbar-row>
          </mat-toolbar>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
                {{title}}
                    <span class="mat-toolbar-spacer"></span>
               
               
            </mat-toolbar-row>
        </mat-toolbar>
        <img width="100%" src="assets/aerobics-brand-color-39671.jpg" />
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>