<mat-card>
  <mat-card-header>
    <h3>Hvem har dannet denne klub</h3>
  </mat-card-header>
  <mat-card-content>
    <p>Mit navn er Søren Larsen og jeg har i mange år selv forsøgt at opfylde sundhedsmål, men kikser hver gang pga. manglende "rygrad".</p>
    <p>
    Ideen til Sundhedsmålklubben opstod i december 2016, hvor jeg lavede et længere oplæg til hvordan sådan en klub, kunne hjælpe mig selv og andre med at holde fast i et ønske om at tabe sig eller andet sundhedsrelateret mål.
  </p>
  <p>Indholdet i den oprindelige ide kan ses her: <a href="https://docs.google.com/document/d/16MIMWuNTqRxDWZmMtPdvnQl-ATAaHXlGI-FGQhqwxYU/edit?usp=sharing" target="_blank">Projekt beskrivelse</a></p>

  <p>Mine egne forudsætninger for at starte denne klub op er dels et ønske om at hjælpe andre og mig selv med at blive sundere. Herudover har jeg været med til forskellige andre især motionsrelaterede tiltag:</p>
  <mat-list dense>
    <mat-list-item>
      Lørdagsløb I Ringe der blev afholdt næsten hver lørdag i et årstid i perioden oktober 2011 til februar 2013

    </mat-list-item>
    <mat-list-item>
      Søsletteløbet, hvor jeg var med til at arrangere de sidste 3 løb

    </mat-list-item>
    <mat-list-item>
      <a href="http://ringesømarathon.dk">Ringe Sø Marathon</a>&nbsp; som jeg startede sammen med 
        Niels Backmann Schmidt i efteråret 2012 og som stadig afholdes 2 gange om året, dog er det nu kun mig selv der står som arrangør

    </mat-list-item>
  </mat-list>

  </mat-card-content>
</mat-card>