<mat-card>

            <mat-card-header><h3>Hvad er Sundhedsmålklubben</h3></mat-card-header>
        <mat-card-content>
               

    <p>Kender du det med at sætte sig for at skulle tabe overflødige kilo eller gerne vil fx løbe, cykle eller svømme hurtigere og længere, men at du hele tiden starter forfra, fordi den plan du har hele tiden skrider eller du hurtigt falder fra igen.</p>
    
    <p><strong>Bare rolig, du er ikke den eneste der har det problem!</strong></p>
    
    <p>Sundhedsmålklubben er et værktøj til at hjælpe dig og andre med at holde fokus på målet. I sundhedsklubben mødes vi en gang om ugen i Midtfyns Fritidscenter, hvor vi på skift fortæller resten af gruppen, hvordan det går med at overholde de mål man har sat sig og hvad man vil gøre for at holde dem i den kommende uge.</p>
    
    <p>Formålet med at gøre det på denne måde, er at man ikke bare skal holde sig selv op på de mål man har sat sig, men også bliver holdt op på det fra gruppen.</p>
    
    <p>Gruppen består kun af personer med et mål der skal opnåes eller holdes vedlige. Der er ingen træner, diætist eller lignende. Derfor kan det at være med sagtens kombineres med at man fx samtidig har en personlig træner.</p>

    <p>Lyder dette som noget for dig? Læs mere om møderne under  <a routerLink="klubben">
        <span> Om klubben </span></a> og tilmeld dig næste møde her: <a href="https://www.facebook.com/pg/5750Sund/events/" target="_blank">@5750Sund på facebook</a></p>
</mat-card-content>
</mat-card>
